* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 50px;
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    font-style: italic;
}

img {
    max-width: 100%;
    margin-top: 30px;
}

.container {
    display: grid;
    height: 800px;
    grid-template-columns: auto auto;
    gap: 20px;
}

.cidades {
    background-color: #111;
    color: white;
    border: 2px solid #a6033f;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    line-height: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nomeCidades {
    color: #c0cc39;
    text-align: center;
    grid-column: 1/-1;
}

.info {
    place-self: start;
    margin-top: 30px;
    display: grid;
    gap: 20px;
    place-items: start;
    margin-left: 15px;
}

.preco {
    font-weight: 600;
    font-style: italic;
    color: #a6033f;
}

a {
    background: #c0cc39;
    color: #111;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
}
